{% extends '_base.html' %}
{% load static %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
<section class="h-100 h-custom" style="background-color: #d2c9ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{ cart|length }} items</h6>
                  </div>
                  <hr class="my-4">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <tbody>
                        {% if cart|length == 0 %}

                          <p class="text-center"><strong>В корзине пока пусто</strong></p>
                          <p class="text-center">Загляните на главную, чтобы выбрать товары или найдите нужное в поиске</p>
                        {% else %}
                          {% for item in cart %}
                            {% with product=item.product %}
                              <tr>
                                <td>
                                  <a href="{{ product.get_absolute_url }}">
                                    <img style="width: 100px;height: 122px; "class="img-fluid rounded-3" src="{% if product.image %}{{ product.image.url }}
                                        {% else %}{% static 'img/no_image.png' %}{% endif %}">{{ product.name }}
                                  </a>
                                </td>
                                <td>
                                  <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.override }}
                                    <button type="submit" class="btn btn-primary">Update</button>
                                    {% csrf_token %}
                                  </form>
                                </td>
                                <td>${{ item.price }}</td>
                                <td>
                                  <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                    <button type="submit" style="  background: none; border: none; padding: 0;" class="fa-solid fa-xmark"> </button>
                                    {% csrf_token %}
                                  </form>
                                </td>
                              </tr>
                            {% endwith %}
                          {% endfor %}
                        {% endif %}  
                      </tbody>
                    </table>
                  </div>  
                  <div class="pt-5">
                    <h6 class="mb-0">
                      <a href="{% url 'goods:product_list' %}" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">
                  {% with total_items=cart|length %}
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">Items {{ total_items }}</h5>
                      <h5> $ {{ cart.get_total_price_after_discount|floatformat:2 }}</h5>
                    </div>
                  {% endwith %}

                  <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                    <div class="form-outline">
                      <form action="{% url 'coupons:apply' %}" method="post">
                        {{ coupon_apply_form }}
                        <input type="submit" value="Apply">
                        {% csrf_token %}
                      </form>
                      <label class="form-label" for="form3Examplea2">Enter your code</label>
                    </div>
                  </div>

                  <hr class="my-4">
                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>$ {{ cart.get_total_price_after_discount|floatformat:2 }}</h5>
                  </div>
                  <a href="{% url 'orders:order_create' %}" class="btn btn-dark btn-block btn-lg"
                  data-mdb-ripple-color="dark">
                    Register
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}